@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "./headlines.css";

@theme {
  --font-accent: "Montserrat", sans-serif;
  --font-default: "Alumni Sans Pinstripe", sans-serif;
  --color-black-100: #111111;
  --color-black-200: #222222;
  --color-black-300: #333333;
  --color-black-400: #444444;
  --color-black-500: #555555;
  --color-black-600: #666666;
  --color-black-700: #777777;
  --color-black-800: #888888;
  --color-black-900: #999999;
}

#root {
  @apply grid grid-rows-[auto_1fr_auto] min-h-screen;
}

body {
  @apply font-default text-base font-normal bg-black-300 text-white;
  letter-spacing: 1px;
}

.container {
  @apply max-w-7xl w-full mx-auto my-0 px-8; /* 1280px */
}
