@reference '../../app/styles/index.css';

.todo-item {
  @apply max-w-max relative;

  border-radius: 1rem 1rem 0.5rem 0.5rem;
}

.todo-item:hover,
.todo-item:focus {
  @apply scale-101;
  @apply shadow-md shadow-gray-300;
}

.todo-item-header {
  @apply p-1 flex justify-end bg-red-800 cursor-grab;
  border-radius: 1rem 1rem 0 0;
}

.todo-item-remove {
  @apply text-2xl text-white transition-colors cursor-pointer;
}

.todo-item-remove:hover {
  @apply text-red-200;
}

.todo-item-main {
  @apply flex flex-col gap-2 p-4 border border-gray-300;
  @apply cursor-pointer;
  border-radius: 0 0 0.5rem 0.5rem;
}

.todo-item-title {
  @apply max-w-xs w-max;
}

.todo-item-createdAt {
  @apply text-xs text-gray-500 select-none;
}
