.todo-items {
    @apply flex items-center justify-between gap-4 p-4 w-full rounded-lg cursor-pointer;
    background-color: var(--color-accent)
}

.todo-items-done {
    @apply text-2xl cursor-pointer;
    color: var(--color-secondary);
}

.todo-items-title {
    @apply text-2xl w-full;
}

.delete-button {
    cursor: pointer;
    color: var(--color-secondary);
    font-size: 32px;
}